$containerWidth: 940px;
$baseFontSize: 18px;

// breakpoints
$tablets: 768px;
$phones: 480px;

// colors
$yellow: #FEDB3F;
$yellow-hover: #fedb3fe9;
$black: #292929;
$grey: #F2F5F4;
$dark-grey: #333537;
$light-grey: #F8FAF9;
$review: #F8FAF9;
$blue: #1968B1;
$info-blue: #3A587E;
$info-light-blue: #3465A3;
$modal-bg: #333537;

// z-index
$z-fixed-menu: 20;

@import "./media";

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');

// components
@import "./layout/_base.scss";
@import "./blocks/_body.scss";
@import "./blocks/_hero.scss";
@import "./blocks/_header.scss";
@import "./blocks/_logo.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_btn.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_features.scss";
@import "./blocks/_section.scss";
@import "./blocks/_headline.scss";
@import "./blocks/_benefits.scss";
@import "./blocks/_products.scss";
@import "./blocks/_slider.scss";
@import "./blocks/_team.scss";
@import "./blocks/_parameters.scss";
@import "./blocks/_benefit.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_interactive-avatar.scss";
@import "./blocks/_order.scss";
@import "./blocks/_form.scss";
@import "./blocks/_fixed-menu.scss";