.benefit-section {
  display: flex;
}

.benefit {
  text-align: center;

  &__text {
    @include phones {
      text-align: left;
    }
  }

  &__image {
    margin-bottom: 10px;
  }

  &__image-wrapper {
    display: inline-block;
    width: rem(126px);
    height: rem(126px);
    position: relative;
    background: $grey;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(10px);

    @include phones {
      margin-right: rem(20px);
      margin-bottom: 0;
    }
  }

  &__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
  }

  &__title {
    color: $black;
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(10px);
  }
}