.btn {
  padding: rem(21px) rem(41px);
  background: $yellow;
  border-radius: rem(100px);
  color: #000000;
  font-weight: 800;
  font-size: rem(16px);
  text-transform: uppercase;
  z-index: 10;
  text-decoration: none;
  border: none;

  &:hover {
    background: $yellow-hover;
    transition: 0.5s;
  }

  &--theme--transparent {
    background: transparent;
    color: white;
    font-weight: normal;

    &:hover {
      color: black;
    }
  }
}