.contacts {
  @include phones {
    margin-bottom: rem(10px);
  }

  &--footer {
    display: flex;
    align-items: start;
    flex-direction: column;

    @include phones {
      align-items: center;
    }
  }

  &__address {
    font-size: rem(21px);
  }

  &__phone-icon {
    padding-top: rem(5px);
    flex-shrink: 0;

    &-img {
      width: rem(18px);
      height: rem(18px);
      margin-right: rem(6px);
      fill: white;

      &--black {
        fill: black;
      }
    }
  }

  &__phone {
    display: flex;
    align-items: center;

    &-number {
      flex: 1;
      font-style: normal;
      font-weight: bold;
      font-size: rem(22px);
      white-space: nowrap;

      &--footer {
        font-weight: normal;
      }
    }
  }
}