.hamburger {
  flex-direction: column;
  justify-content: space-between;
  width: rem(26px);
  height: rem(26px);
  display: none;
  z-index: $z-hamburger;
  transition: all .4s;

  @include tablets {
    display: inline-flex;
    position: fixed;
    top: 32px;
    right: 5%;
  }

  &__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 5px;
    transition: all .4s;
  }
}

.hamburger--active {
  .hamburger__plank {
    &:nth-child(1) {
      opacity: 0;
    }

    &:nth-child(2) {
      transform: rotate(45deg);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-8px) translateX(7px);
    }
  }
}