@mixin inherit_menu {
  width: 100%;
  background-color: $blue;
  padding: rem(26px) rem(30px);
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include tablets {
    @include inherit_menu;
  }

  @include phones {
    @include inherit_menu;
    padding: rem(26px) rem(10px);
  }

}

.contacts.header__contacts {
  @include tablets {
    display: none;
  }
}