.order-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent), url('../img/order/cta.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -0px;
  filter: grayscale(0%);
  overflow: hidden;
  padding: 60px 0px;

}

.order--title {
  color: #fff;
}