.parameters__link {
  background-color: $info-blue;
}

.parameters {
  position: relative;
  display: inline-block;
  max-height: 180px;

  &:hover .parameters__menu {
    left: 0;
    opacity: 1;
  }

  &__arrows {
    width: 38px;
    height: 38px;
  }

  &__title {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 8px;
  }

  &__link {
    width: 90px;
    height: 90px;
    background: #3465A3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #457bc1;
    }
  }

  &__menu {
    position: absolute;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.06);
    padding: 28px 30px;
    width: 290px;
    left: -9999px;
    color: #1E1F20;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
    transition: opacity 1s;
    border-radius: 4px;
    margin-top: -92px;
    margin-left: 90px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
  }

  &__desc {
    margin-left: 12px;
    color: black;
    font-size: 16px;
    font-weight: 700;
  }

  &__data {
    flex: 1;
    margin-left: 26px;
    text-align: end;
    color: black;
  }
}