.products-section {
  background-color: $light-grey;
  padding: rem(105px) rem(0px);

  @include tablets {
    padding: 0;
  }
}

.products {
  &__wrapper {
    position: relative;
    padding: 0 40px;
  }

  &__arrows {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    top: 43%;
    left: -1%;

    @include tablets {
      width: 90%;
      top: 23%;
    }
  }

  &__arrow-img {
    width: rem(25px);
    height: rem(40px);
  }

  &__arrow-left {
    position: absolute;
    top: 42%;
    left: 0%;
    z-index: 1;

    @include tablets {
      top: 28%;
      left: 17%;
    }

    @include phones {
      top: 30%;
      left: 13%;
    }
  }

  &__arrow-right {
    position: absolute;
    top: 42%;
    right: 0%;
    rotate: 180deg;
    z-index: 1;
    transform: translateY(5px);

    @include tablets {
      top: 28%;
      left: 25%;
    }

    @include phones {
      top: 30%;
      left: 81%;
    }
  }
}


.slider {
  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }
}